.App {
  text-align: center;
  background-color: azure;
  height: 100;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.tabla {
  width: 90%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid rgb(28, 223, 14);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(225, 248, 229);

}

.espacio {
  margin-top: 60px;
}

.name {
  border: 2px solid gainsboro;
  border-radius: 4px;
  padding: 12px 20px;
  margin-left: 20px;
  width: 30%;
}

.lastn {
  border: 2px solid gainsboro;
  border-radius: 4px;
  padding: 12px 20px;
  margin-left: 20px;
  width: 30%;

}

.agregar {
  background-color: #52e957;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100%;
}

.operacion {
  background-color: #52ccee;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 50%;
}

.numero1 {
  border: 2px solid gainsboro;
  border-radius: 4px;
  padding: 12px 20px;
  margin-left: 20px;
  width: 30%;
}

.numero2 {
  border: 2px solid gainsboro;
  border-radius: 4px;
  padding: 12px 20px;
  margin-left: 20px;
  width: 30%;

}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}